src/test/resources/dtd/esquema.dtd

<!ELEMENT dataset (
    CDC_TIPO_VENTANILLA*,
    CDC_OBJETIVO_INDICADOR*,
    CDC_ESCOLARIDAD*,   
    CDC_CAUSA*,
    CDC_INDICADOR*,
    CDC_TURNO*,   
    SST_NIVEL_ATENCION*,     
    SSC_TIPO_UNIDAD*,
    SST_ENTIDAD_FEDERATIVA*,    
    SST_DELEGACION*,   
    SST_UNIDAD*,
    SSC_TIPO_REGISTRO*,
    SSC_ESTATUS*,
    CDT_CDV*,
    CDT_CDV_CAUSA*,    
    SSC_TIPO_USUARIO*,
    SSC_PERFIL_PERSONAL*,   
    SSC_CATEGORIA*,   
    SSC_PUESTO*,
    SST_PERSONAL*,
    SST_PERSONAL_PERFIL_PERSONAL*,     
    CDC_CAT_PROBLEMATICA*,
    CDC_OBJETIVO_ACT_CONTROL*,    
    CDC_ACT_CONTROL*,    
    CDT_PERSONA_PROP_INFO*,         
    CDC_ACCION*,    
    CDT_CDV_ACT_CONTROL*,            
    CDC_CAT_REQUISITOS*,
    CDT_CDV_INDICADOR*,
    CDC_CURSO*,
    CDT_PERFIL_PERSONAL_CDV*,
    CDT_PERFIL_CURSO*,           
    CDT_CDV_PERS*,    
    CDC_TIPNECESIDAD*,
    CDC_SUBCAT_PROBLEMATICA*,   
    CDC_NEC_CUANTITATIVA*,   
    CDC_PROBLEMATICA*,
    CDT_PRO_NEC_CUANTITATIVA*,
    CDC_CAT_SERVICIO*,
    CDC_SERVICIO*,  
    CDT_CDV_SERVICIO*,      
    CDC_FRECUENCIA_USO*,    
    CDC_SISTEMA*,
    CDT_SISTEMA_CDV*,   
    CDT_MOD_ATENCION*,
    CDC_NEC_CUALITATIVA*,    
    CDT_OPINION_TRABAJADOR*,    
    SSC_TIPO_PROCESOCARGA*,
    SST_ANIO*,
    SST_PROCESO_CARGA*,    
    SST_PERIODO*,
    CDC_FASE*,  
    CDC_PROBL_PROCESO*,
    CDC_RAZON*,
    CDC_SALIDA*,
    CDT_SUGERENCIA*,
    CDC_UTILIDADES*,
    CDC_VENTANILLAS_INTER_ANT*,
    CDC_VENTANILLAS_INTER_POST*,    
    SST_DIAS_FESTIVOS*,
    CDT_EQUIPOINFRAESTRUCTURA*,
    CDT_INF_PERSONAL*,    
    CDT_INFRAESTRUCTURA*,       
    CDT_INFRA_EQUIPINFRAESTRUCTURA*,
    CDC_MEDIOS_DIFUSION*,
    CDC_REQUISITOS*,
    CDC_RESUL_SERVICIO*,
    PAT_PAAV*,
    PAT_PERIODO_PAAV*,    
    SST_PERIODO_UNIDAD*,    
    CDT_REQUISITOS_CDV_SERVICIO*,   
    CDT_SISTEMA_UTILIDADES*,
    CDT_SISTEMA_SALIDA*,        
    CDT_SERV_PROBLEMA*,
    CDT_PRO_NEC_CUALITATIVA*,
    CDT_PROBL_ACCION*,   
    CDT_OPIN_TRAB_RAZON*,         
    CDT_MDIFUSION_CDV_SERVICIO*,           
    CDT_CDVPROBLEMATICA*,
    SSC_TIPO_NOTIFICACION*,
    SST_NOTIFICACION*
  )
>

<!ELEMENT CDC_ACCION EMPTY>
<!ATTLIST CDC_ACCION
    CVE_ACCION CDATA #REQUIRED
    NOM_ACCION CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_ACT_CONTROL EMPTY>
<!ATTLIST CDC_ACT_CONTROL
    CVE_ACT_CONTROL CDATA #REQUIRED
    NOM_ACTIVIDAD_CONTROL CDATA #IMPLIED
    CVE_OBJ_ACT_CONTROL CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_CAT_PROBLEMATICA EMPTY>
<!ATTLIST CDC_CAT_PROBLEMATICA
    CVE_CATEGORIA CDATA #REQUIRED
    NOM_CATEGORIA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_CAT_REQUISITOS EMPTY>
<!ATTLIST CDC_CAT_REQUISITOS
    CVE_CATEG_REQUISITO CDATA #REQUIRED
    NOM_CATEGORIA CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_CAT_SERVICIO EMPTY>
<!ATTLIST CDC_CAT_SERVICIO
    CVE_CATEGORIA CDATA #REQUIRED
    NOM_NOMBRECATEGORIA CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_CAUSA EMPTY>
<!ATTLIST CDC_CAUSA
    CVE_CAUSA CDATA #REQUIRED
    NOM_CAUSA CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_CURSO EMPTY>
<!ATTLIST CDC_CURSO
    CVE_CURSO CDATA #REQUIRED
    NOM_CURSO CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
>

<!ELEMENT CDC_ESCOLARIDAD EMPTY>
<!ATTLIST CDC_ESCOLARIDAD
    CVE_ESCOLARIDAD CDATA #REQUIRED
    NOM_ESCOLARIDAD CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_FASE EMPTY>
<!ATTLIST CDC_FASE
    CVE_FASE CDATA #REQUIRED
    NOM_FASE CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_FRECUENCIA_USO EMPTY>
<!ATTLIST CDC_FRECUENCIA_USO
    CVE_FRECUENCIA_USO CDATA #REQUIRED
    NOM_FRECUENCIA_USO CDATA #IMPLIED
>

<!ELEMENT CDC_INDICADOR EMPTY>
<!ATTLIST CDC_INDICADOR
    CVE_INDICADOR CDATA #REQUIRED
    NOM_INDICADOR CDATA #IMPLIED
    CVE_OBJETIVO CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_MEDIOS_DIFUSION EMPTY>
<!ATTLIST CDC_MEDIOS_DIFUSION
    CVE_MEDIOS_DIFUSION CDATA #REQUIRED
    NOM_MEDIO_DIFUSION CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_NEC_CUALITATIVA EMPTY>
<!ATTLIST CDC_NEC_CUALITATIVA
    CVE_NEC_CUALITATIVA CDATA #REQUIRED
    NOM_NEC_CUALITATIVA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_NEC_CUANTITATIVA EMPTY>
<!ATTLIST CDC_NEC_CUANTITATIVA
    CVE_NEC_CUANTITATIVA CDATA #REQUIRED
    NOM_NEC_CUANTITATIVA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_OBJETIVO_ACT_CONTROL EMPTY>
<!ATTLIST CDC_OBJETIVO_ACT_CONTROL
    CVE_OBJ_ACT_CONTROL CDATA #REQUIRED
    NOM_OBJETIVO CDATA #IMPLIED
>

<!ELEMENT CDC_OBJETIVO_INDICADOR EMPTY>
<!ATTLIST CDC_OBJETIVO_INDICADOR
    CVE_OBJETIVO CDATA #REQUIRED
    NOM_OBJETIVO CDATA #IMPLIED
>

<!ELEMENT CDC_PROBLEMATICA EMPTY>
<!ATTLIST CDC_PROBLEMATICA
    CVE_PROBLEMATICA CDATA #REQUIRED
    NOM_PROBLEMATICA CDATA #IMPLIED
    CVE_SUBCATEGORIA CDATA #IMPLIED
    CVE_NECESIDAD CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_PROBL_PROCESO EMPTY>
<!ATTLIST CDC_PROBL_PROCESO
    CVE_PROBLEMA CDATA #REQUIRED
    NOM_PROBLEMA CDATA #IMPLIED
    CVE_FASE CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_RAZON EMPTY>
<!ATTLIST CDC_RAZON
    CVE_RAZON CDATA #REQUIRED
    NOM_RAZON CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
    NUM_GUSTO_TRABAJO CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
    NUM_GUSTO CDATA #IMPLIED
>

<!ELEMENT CDC_REQUISITOS EMPTY>
<!ATTLIST CDC_REQUISITOS
    CVE_REQUISITO CDATA #REQUIRED
    NOM_REQUISITO CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
    CVE_CATEG_REQUISITO CDATA #IMPLIED
>

<!ELEMENT CDC_RESUL_SERVICIO EMPTY>
<!ATTLIST CDC_RESUL_SERVICIO
    CVE_RESULTADO CDATA #REQUIRED
    NOM_RESULTADO CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_SALIDA EMPTY>
<!ATTLIST CDC_SALIDA
    CVE_SALIDA CDATA #REQUIRED
    NOM_SALIDA CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_SERVICIO EMPTY>
<!ATTLIST CDC_SERVICIO
    CVE_SERVICIO CDATA #REQUIRED
    NOM_SERVICIO CDATA #IMPLIED
    CVE_CATEGORIA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_SISTEMA EMPTY>
<!ATTLIST CDC_SISTEMA
    CVE_SISTEMA CDATA #REQUIRED
    NOM_SISTEMA CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_SUBCAT_PROBLEMATICA EMPTY>
<!ATTLIST CDC_SUBCAT_PROBLEMATICA
    CVE_SUBCATEGORIA CDATA #REQUIRED
    CVE_CATEGORIA CDATA #IMPLIED
    NOM_SUBCATEGORIA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_TIPNECESIDAD EMPTY>
<!ATTLIST CDC_TIPNECESIDAD
    CVE_NECESIDAD CDATA #REQUIRED
    NOM_NECESIDAD CDATA #IMPLIED
>

<!ELEMENT CDC_TIPO_VENTANILLA EMPTY>
<!ATTLIST CDC_TIPO_VENTANILLA
    CVE_TIP_VENTANILLA CDATA #REQUIRED
    NOM_TIP_VENTANILLA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
    NUM_TIENE_CAT_SERV CDATA #IMPLIED
    NUM_TIENE_CAT_REQU CDATA #IMPLIED
>

<!ELEMENT CDC_TURNO EMPTY>
<!ATTLIST CDC_TURNO
    CVE_TURNO CDATA #REQUIRED
    DES_TURNO CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_UTILIDADES EMPTY>
<!ATTLIST CDC_UTILIDADES
    CVE_UTILIDADES CDATA #REQUIRED
    NOM_UTILIDAD CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_VENTANILLAS_INTER_ANT EMPTY>
<!ATTLIST CDC_VENTANILLAS_INTER_ANT
    CVE_VENTANILLA_INTER_ANT CDATA #REQUIRED
    NOM_NOMBREVENTANILLA CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDC_VENTANILLAS_INTER_POST EMPTY>
<!ATTLIST CDC_VENTANILLAS_INTER_POST
    CVE_VENTANILLA_INTER_POST CDATA #REQUIRED
    NOM_NOMBREVENTANILLA CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDT_CDV EMPTY>
<!ATTLIST CDT_CDV

    CVE_CDV CDATA #REQUIRED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
    TIM_HORA_REAL_INI CDATA #IMPLIED
    NUM_VENTANILLAS CDATA #IMPLIED
    TIM_MIN_NORM_FIN CDATA #IMPLIED
    TIM_HORA_NORM_FIN CDATA #IMPLIED
    TIM_MIN_NORM_INI CDATA #IMPLIED
    TIM_HORA_NORM_INI CDATA #IMPLIED
    TIM_MIN_REAL_INI CDATA #IMPLIED
    TIM_HORA_REAL_FIN CDATA #IMPLIED
    TIM_MIN_REAL_FIN CDATA #IMPLIED
    NUM_MEN_SOLICIT_REC CDATA #IMPLIED
    NUM_MEN_SOLICIT_ATEN CDATA #IMPLIED
    FEC_FECHA_CREACION CDATA #IMPLIED
    CVE_TURNO CDATA #REQUIRED
    CVE_UNIDAD CDATA #IMPLIED
    NOM_CDV CDATA #IMPLIED
	CVE_ESTATUS CDATA #IMPLIED
>

<!ELEMENT CDT_CDV_ACT_CONTROL EMPTY>
<!ATTLIST CDT_CDV_ACT_CONTROL
    CVE_CDV CDATA #REQUIRED
    CVE_ACT_CONTROL CDATA #REQUIRED
    NUM_CUMPLEOBJETIVO CDATA #IMPLIED
>

<!ELEMENT CDT_CDV_CAUSA EMPTY>
<!ATTLIST CDT_CDV_CAUSA
    CVE_CDV CDATA #REQUIRED
    CVE_CAUSA CDATA #REQUIRED
>

<!ELEMENT CDT_CDV_INDICADOR EMPTY>
<!ATTLIST CDT_CDV_INDICADOR
    CVE_CDV CDATA #REQUIRED
    NUM_ULTIMO_RESULT_MEDICION CDATA #IMPLIED
    CVE_INDICADOR CDATA #REQUIRED
>

<!ELEMENT CDT_CDV_PERS EMPTY>
<!ATTLIST CDT_CDV_PERS
    CVE_CDV CDATA #REQUIRED
    CVE_PERSONA CDATA #REQUIRED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT CDT_CDVPROBLEMATICA EMPTY>
<!ATTLIST CDT_CDVPROBLEMATICA
    CVE_CDV CDATA #REQUIRED
    CVE_PROBLEMATICA CDATA #REQUIRED
>

<!ELEMENT CDT_CDV_SERVICIO EMPTY>
<!ATTLIST CDT_CDV_SERVICIO
    CVE_CDV CDATA #REQUIRED
    CVE_SERVICIO CDATA #REQUIRED
    NUM_ESPFILA_HR CDATA #IMPLIED
    NUM_ESPFILA_MIN CDATA #IMPLIED
    NUM_ESPFILA_SEG CDATA #IMPLIED
    NUM_CICRESULT_HR CDATA #IMPLIED
    NUM_CICRESULT_MIN CDATA #IMPLIED
    NUM_CICRESULT_SEG CDATA #IMPLIED
    NUM_ATENCION_HR CDATA #IMPLIED
    NUM_ATENCION_MIN CDATA #IMPLIED
    NUM_ATENCION_SEG CDATA #IMPLIED
    NUM_MEN_USERS_ULTANIO CDATA #IMPLIED
    CVE_VENTINTER_POST CDATA #IMPLIED
    CVE_VENTINTER_ANT CDATA #IMPLIED
    CVE_RESULTADO CDATA #IMPLIED
>

<!ELEMENT CDT_EQUIPOINFRAESTRUCTURA EMPTY>
<!ATTLIST CDT_EQUIPOINFRAESTRUCTURA
    CVE_EQUIPO_INFRAESTRUCTURA CDATA #REQUIRED
    NOM_EQUIPO_INFRA CDATA #IMPLIED
>

<!ELEMENT CDT_INF_PERSONAL EMPTY>
<!ATTLIST CDT_INF_PERSONAL
    CVE_INF_PERSONAL CDATA #REQUIRED
    NUM_PLAZAS_AUT CDATA #IMPLIED
    NUM_LICENCIAS_PERM CDATA #IMPLIED
    NUM_INCAPACIDADES CDATA #IMPLIED
    NUM_PERSONAL_SERV CDATA #IMPLIED
    NUM_COM_OTRA_VENT CDATA #IMPLIED
    NUM_COM_OTRO_SERV CDATA #IMPLIED
    NUM_REDUCCION_JOR CDATA #IMPLIED
    NUM_PLAZAS_VACANTES CDATA #IMPLIED
    NUM_PROM_FALTAS CDATA #IMPLIED
    CVE_CDV CDATA #IMPLIED
>

<!ELEMENT CDT_INFRA_EQUIPINFRAESTRUCTURA EMPTY>
<!ATTLIST CDT_INFRA_EQUIPINFRAESTRUCTURA
    CVE_INFRAESTRUCTURA CDATA #REQUIRED
    CVE_EQUIPO_INFRAESTRUCTURA CDATA #REQUIRED
    NUM_ENUSO CDATA #IMPLIED
    NUM_BUEN_ESTADO CDATA #IMPLIED
    NUM_MAL_ESTADO CDATA #IMPLIED
    NUM_OBSOLETO CDATA #IMPLIED
    NUM_TOTAL CDATA #IMPLIED
>

<!ELEMENT CDT_INFRAESTRUCTURA EMPTY>
<!ATTLIST CDT_INFRAESTRUCTURA
    CVE_INFRAESTRUCTURA CDATA #REQUIRED
    CVE_CDV CDATA #IMPLIED
    NUM_AREATRABAJO_ILUM CDATA #IMPLIED
    NUM_AREATRABAJO_VENT CDATA #IMPLIED
    NUM_AREATRABAJO_LIMP CDATA #IMPLIED
    NUM_AREATRABAJO_SENIAL CDATA #IMPLIED
    NUM_AREAESPERA_FILA CDATA #IMPLIED
    NUM_AREAESPERA_ILUM CDATA #IMPLIED
    NUM_AREAESPERA_VENT CDATA #IMPLIED
    NUM_AREAESPERA_LIMP CDATA #IMPLIED
    NUM_AREAESPERA_SENIAL CDATA #IMPLIED
    NUM_NODOS CDATA #IMPLIED
    NUM_NODOS_ACTIVOS CDATA #IMPLIED
    NUM_NODOS_INACTIVOS CDATA #IMPLIED
>

<!ELEMENT CDT_MDIFUSION_CDV_SERVICIO EMPTY>
<!ATTLIST CDT_MDIFUSION_CDV_SERVICIO
    CVE_CDV CDATA #REQUIRED
    CVE_SERVICIO CDATA #REQUIRED
    CVE_MEDIOS_DIFUSION CDATA #REQUIRED
>

<!ELEMENT CDT_MOD_ATENCION EMPTY>
<!ATTLIST CDT_MOD_ATENCION
    CVE_MOD_ATENCION CDATA #REQUIRED
    NUM_EXISTE_MODULO CDATA #IMPLIED
    CVE_CDV CDATA #IMPLIED
    NUM_PERSONAL_TECNICO CDATA #IMPLIED
    NUM_VISIBLE CDATA #IMPLIED
    NUM_ACCESIBLE CDATA #IMPLIED
    NUM_SENIALIZADO CDATA #IMPLIED
    NUM_NUM_PERSO_ATIENDEN CDATA #IMPLIED
>

<!ELEMENT CDT_OPINION_TRABAJADOR EMPTY>
<!ATTLIST CDT_OPINION_TRABAJADOR
    CVE_OPINION CDATA #REQUIRED
    NUM_GUSTO_TRABAJO CDATA #IMPLIED
    CVE_CDV CDATA #IMPLIED
>

<!ELEMENT CDT_OPIN_TRAB_RAZON EMPTY>
<!ATTLIST CDT_OPIN_TRAB_RAZON
    CVE_OPINION CDATA #REQUIRED
    CVE_RAZON CDATA #REQUIRED
>

<!ELEMENT CDT_PERFIL_CURSO EMPTY>
<!ATTLIST CDT_PERFIL_CURSO
    CVE_PERFIL CDATA #REQUIRED
    CVE_CURSO CDATA #REQUIRED
>

<!ELEMENT CDT_PERFIL_PERSONAL_CDV EMPTY>
<!ATTLIST CDT_PERFIL_PERSONAL_CDV
    CVE_PERFIL CDATA #REQUIRED
    CVE_EMPLEADO CDATA #IMPLIED
    FEC_TIEM_EXP_ANIO CDATA #IMPLIED
    FEC_TIEM_EXP_MES CDATA #IMPLIED
    CVE_ESCOLARIDAD CDATA #IMPLIED
    CVE_CDV CDATA #IMPLIED
>

<!ELEMENT CDT_PERSONA_PROP_INFO EMPTY>
<!ATTLIST CDT_PERSONA_PROP_INFO
    CVE_PERSONA CDATA #REQUIRED
    NOM_APELLIDOP CDATA #IMPLIED
    NOM_APELLIDOM CDATA #IMPLIED
    NOM_NOMBRE CDATA #IMPLIED
    NUM_LADA CDATA #IMPLIED
    NUM_TELEFONO CDATA #IMPLIED
    NUM_EXTENSION CDATA #IMPLIED
    NOM_CORREOELECTRONICO CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
    CVE_CATEGORIA CDATA #IMPLIED
    CVE_PUESTO CDATA #IMPLIED
    CVE_UNIDAD CDATA #IMPLIED
    CVE_TIP_VENTANILLA CDATA #IMPLIED
>

<!ELEMENT CDT_PROBL_ACCION EMPTY>
<!ATTLIST CDT_PROBL_ACCION
    CVE_PROBLEMATICA CDATA #REQUIRED
    CVE_ACCION CDATA #REQUIRED
    NUM_ACCIONREALIZADA CDATA #IMPLIED
>

<!ELEMENT CDT_PRO_NEC_CUALITATIVA EMPTY>
<!ATTLIST CDT_PRO_NEC_CUALITATIVA
    CVE_NEC_CUALITATIVA CDATA #REQUIRED
    CVE_PROBLEMATICA CDATA #REQUIRED
>

<!ELEMENT CDT_PRO_NEC_CUANTITATIVA EMPTY>
<!ATTLIST CDT_PRO_NEC_CUANTITATIVA
    CVE_NEC_CUANTITATIVA CDATA #REQUIRED
    CVE_PROBLEMATICA CDATA #REQUIRED
    NUM_ELEMENTOS CDATA #IMPLIED
>

<!ELEMENT CDT_REQUISITOS_CDV_SERVICIO EMPTY>
<!ATTLIST CDT_REQUISITOS_CDV_SERVICIO
    CVE_CDV CDATA #REQUIRED
    CVE_SERVICIO CDATA #REQUIRED
    CVE_REQUISITO CDATA #REQUIRED
    DES_PRESENTACION CDATA #IMPLIED
>

<!ELEMENT CDT_SERV_PROBLEMA EMPTY>
<!ATTLIST CDT_SERV_PROBLEMA
    CVE_PROBLEMA CDATA #REQUIRED
    CVE_CDV CDATA #REQUIRED
    CVE_SERVICIO CDATA #REQUIRED
>

<!ELEMENT CDT_SISTEMA_CDV EMPTY>
<!ATTLIST CDT_SISTEMA_CDV
    CVE_CDV CDATA #REQUIRED
    CVE_SISTEMA CDATA #REQUIRED
    CVE_FRECUENCIA_USO CDATA #IMPLIED
>

<!ELEMENT CDT_SISTEMA_SALIDA EMPTY>
<!ATTLIST CDT_SISTEMA_SALIDA
    CVE_SISTEMA CDATA #REQUIRED
    CVE_SALIDA CDATA #REQUIRED
>

<!ELEMENT CDT_SISTEMA_UTILIDADES EMPTY>
<!ATTLIST CDT_SISTEMA_UTILIDADES
    CVE_UTILIDADES CDATA #REQUIRED
    CVE_SISTEMA CDATA #REQUIRED
>

<!ELEMENT CDT_SUGERENCIA EMPTY>
<!ATTLIST CDT_SUGERENCIA
    CVE_CDV CDATA #IMPLIED
    CVE_SUGERENCIA CDATA #REQUIRED
    NOM_SUGERENCIA CDATA #IMPLIED
>

<!ELEMENT PAT_PAAV EMPTY>
<!ATTLIST PAT_PAAV
    CVE_PAT_PAAV CDATA #REQUIRED
    CVE_UNIDAD CDATA #IMPLIED
    CVE_ESTATUS CDATA #IMPLIED
>

<!ELEMENT PAT_PERIODO_PAAV EMPTY>
<!ATTLIST PAT_PERIODO_PAAV
    CVE_PERIODO CDATA #REQUIRED
    CVE_PAT_PAAV CDATA #REQUIRED
>

<!ELEMENT SSC_CATEGORIA EMPTY>
<!ATTLIST SSC_CATEGORIA
    CVE_CATEGORIA CDATA #REQUIRED
    NOM_NOMBRECATEGORIA CDATA #IMPLIED
>

<!ELEMENT SSC_ESTATUS EMPTY>
<!ATTLIST SSC_ESTATUS
	CVE_ESTATUS CDATA #REQUIRED
	NOM_ESTATUS CDATA #IMPLIED 
	NUM_ESTADO  CDATA #IMPLIED
	CVE_TIPO_REGISTRO CDATA #REQUIRED
>

<!ELEMENT SSC_PERFIL_PERSONAL EMPTY>
<!ATTLIST SSC_PERFIL_PERSONAL
    CVE_PERFIL_PERSONAL CDATA #REQUIRED
    NOM_NOMBREPERFIL CDATA #IMPLIED
    CVE_TIPO_USUARIO CDATA #IMPLIED
>

<!ELEMENT SSC_PUESTO EMPTY>
<!ATTLIST SSC_PUESTO
    CVE_PUESTO CDATA #REQUIRED
    NOM_NOMBREPUESTO CDATA #IMPLIED
>

<!ELEMENT SSC_TIPO_PROCESOCARGA EMPTY>
<!ATTLIST SSC_TIPO_PROCESOCARGA
    CVE_TIPOPROCARGA CDATA #REQUIRED
    NOM_TIPOPROCARGA CDATA #IMPLIED
>

<!ELEMENT SSC_TIPO_REGISTRO EMPTY>
<!ATTLIST SSC_TIPO_REGISTRO
    CVE_TIPO_REGISTRO CDATA #REQUIRED
	NOM_TIPO_REGISTRO CDATA #IMPLIED
	NUM_ESTADO        CDATA #IMPLIED
>

<!ELEMENT SSC_TIPO_UNIDAD EMPTY>
<!ATTLIST SSC_TIPO_UNIDAD
    CVE_TIPO_UNIDAD CDATA #REQUIRED
    NOM_UNIDAD CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
    CVE_NIV_ATENCION CDATA #IMPLIED
    DES_CLAVE CDATA #IMPLIED
>

<!ELEMENT SSC_TIPO_USUARIO EMPTY>
<!ATTLIST SSC_TIPO_USUARIO
    CVE_TIPO_USUARIO CDATA #REQUIRED
    NOM_TIPO_USUARIO CDATA #IMPLIED
>

<!ELEMENT SST_ANIO EMPTY>
<!ATTLIST SST_ANIO
    CVE_ANIO CDATA #REQUIRED
    NUM_NOMBRE_ANIO CDATA #IMPLIED
>

<!ELEMENT SST_DELEGACION EMPTY>
<!ATTLIST SST_DELEGACION
    CVE_DELEGACION CDATA #REQUIRED
    NOM_NOMBREDEL CDATA #IMPLIED
    REF_CLAVE_PRESUP CDATA #IMPLIED
    DOM_CALLE CDATA #IMPLIED
    NUM_TELEFONO CDATA #IMPLIED
    DOM_NUMERO CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
    CVE_ENTIDAD_FED CDATA #IMPLIED
    DOM_COLONIA CDATA #IMPLIED
>

<!ELEMENT SST_DIAS_FESTIVOS EMPTY>
<!ATTLIST SST_DIAS_FESTIVOS
    CVE_DIASFESTIVOS CDATA #REQUIRED
    FEC_FECHA CDATA #IMPLIED
    NOM_RAZON CDATA #IMPLIED
    CVE_ANIO CDATA #IMPLIED
>

<!ELEMENT SST_ENTIDAD_FEDERATIVA EMPTY>
<!ATTLIST SST_ENTIDAD_FEDERATIVA
    CVE_ENTIDAD_FED CDATA #REQUIRED
    NOM_ENTIDAD_FED CDATA #IMPLIED
>

<!ELEMENT SST_NIVEL_ATENCION EMPTY>
<!ATTLIST SST_NIVEL_ATENCION
    CVE_NIV_ATENCION CDATA #REQUIRED
    NOM_NIVEL_ATENCION CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
>

<!ELEMENT SST_PERIODO EMPTY>
<!ATTLIST SST_PERIODO
    CVE_PERIODO CDATA #REQUIRED
    NUM_PERIODO CDATA #IMPLIED
    FEC_FECHAINICIO CDATA #IMPLIED
    FEC_FECHAFIN CDATA #IMPLIED
    CVE_PROCARGA CDATA #IMPLIED
>

<!ELEMENT SST_PERIODO_UNIDAD EMPTY>
<!ATTLIST SST_PERIODO_UNIDAD
    FEC_FECHAINICIO CDATA #IMPLIED
    FEC_FECHAFIN CDATA #IMPLIED
    CVE_UNIDAD CDATA #REQUIRED
    CVE_PERIODO CDATA #REQUIRED
>

<!ELEMENT SST_PERSONAL EMPTY>
<!ATTLIST SST_PERSONAL
    CVE_PERSONAL CDATA #REQUIRED
    NOM_NOMBRE CDATA #IMPLIED
    NOM_APELLIDOP CDATA #IMPLIED
    NOM_APELLIDOM CDATA #IMPLIED
    NOM_USUARIO CDATA #IMPLIED
    NOM_CONTRASENIA CDATA #IMPLIED
    NUM_LADA CDATA #IMPLIED
    NUM_TELEFONO CDATA #IMPLIED
    NUM_EXTENSION CDATA #IMPLIED
    NOM_CORREO_ELECTRONICO CDATA #IMPLIED
    CVE_CATEGORIA CDATA #IMPLIED
    CVE_PUESTO CDATA #IMPLIED
>

<!ELEMENT SST_PERSONAL_PERFIL_PERSONAL EMPTY>
<!ATTLIST SST_PERSONAL_PERFIL_PERSONAL
    CVE_PERSONAL CDATA #REQUIRED
    CVE_PERFIL_PERSONAL CDATA #REQUIRED
    CVE_UNIDAD CDATA #IMPLIED
    CVE_DELEGACION CDATA #IMPLIED
    STATUS CDATA #IMPLIED
>

<!ELEMENT SST_PROCESO_CARGA EMPTY>
<!ATTLIST SST_PROCESO_CARGA
    CVE_PROCARGA CDATA #REQUIRED
    FEC_FECHAINICIO CDATA #IMPLIED
    FEC_FECHAFIN CDATA #IMPLIED
    CVE_TIPOPROCARGA CDATA #IMPLIED
    CVE_ANIO CDATA #IMPLIED
>

<!ELEMENT SST_UNIDAD EMPTY>
<!ATTLIST SST_UNIDAD
    CVE_UNIDAD CDATA #REQUIRED
    CVE_DELEGACION CDATA #IMPLIED
    CVE_TIPO_UNIDAD CDATA #IMPLIED
    NOM_NOMBRE CDATA #IMPLIED
    DOM_CALLE CDATA #IMPLIED
    REF_CLAVE_PRESUP CDATA #IMPLIED
    DOM_NUMERO CDATA #IMPLIED
    NUM_TELEFONO CDATA #IMPLIED
    DOM_COLONIA CDATA #IMPLIED
    NUM_ESTADO CDATA #IMPLIED
    CVE_ENTIDAD_FED CDATA #IMPLIED
    DOM_MUNICIPIO CDATA #IMPLIED
>
<!ELEMENT SSC_TIPO_NOTIFICACION EMPTY>
<!ATTLIST SSC_TIPO_NOTIFICACION
	CVE_TIPO_NOTIFICACION CDATA #REQUIRED
	NOM_TIPO_NOTIFICACION CDATA #IMPLIED
	NUM_ESTADO CDATA #IMPLIED
>
<!ELEMENT SST_NOTIFICACION EMPTY>
<!ATTLIST SST_NOTIFICACION
	CVE_NOTIFICACION CDATA #REQUIRED
	CVE_TIPO_NOTIFICACION CDATA #REQUIRED
	NOM_NOTIFICACION CDATA #IMPLIED
>
    
